.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 2em 5em;
    background-color: pink;
    padding:2em;
    border-radius: 15px;
    font-size: 20px;
}
p{
    margin: 0;
    padding: 0;
    height: 10px;
}
button{
    border: none;
    padding: 0.8em;
    border-radius: 15px;
    background-color:rgb(157, 96, 105);
}
input{
    background-color: rgba(157, 96, 105, 0.79);
    border: none;
    padding: 0.8em;
    border-radius: 15px;
}
::placeholder{
    color: black;
}